{% extends "MyShopBundle::layout.html.twig" %}
{#Ctrl + Space#}

{% block productList %}
    <div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Feature Products</h3>
        </div>
        <div>
            <br><br>
            Sort by:
            <select>
                <option>Lowest Price</option>
                <option>Highest Price</option>
                <option>Lowest Price</option>
                <option>Lowest Price</option>
                <option>Lowest Price</option>
                <option>In Stock</option>
            </select>
            <br>
            Show:
            <select>
                <option>4</option>
                <option>8</option>
                <option>12</option>
                <option>16</option>
                <option>20</option>
                <option>In Stock</option>
            </select>

        </div>
        <div class="page-no">
            <p>Result Pages:
            <ul>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>[<a href="#"> Next>>></a>]</li>
            </ul>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    {% set iterator = 0 %}
    {% for product in productList %}
        {% if iterator == 0 %}
            <div class="section group">
        {% endif %}
        {% set iterator = iterator + 1 %}

        <div class="grid_1_of_4 images_1_of_4">
            <img src="/photos/{{ product.mainphoto }}" alt=""/>
            <h2>{{ product.productname }}</h2>
            <p>{{ product.description }}</p>


            <p>
                {% if product.actualPrice != null  %}
                    <span class="strike">{{ product.price }}</span><span class="price">{{ product.actualPrice }}</span>
                {% else %}
                    <span class="strike"></span><span class="price">{{ product.price }}</span>
                {% endif %}
            </p>

            <div class="button"><span><a href="#" class="details">Add to Cart</a></span></div>
            <div class="button"><span><a href="#" class="details">Details</a></span></div>
        </div>

        {% if iterator == 4 %}
            </div>
            {% set iterator = 0 %}
        {% endif %}
    {% endfor %}
    {% if iterator < 4 %}
        </div>
    {% endif %}
{% endblock %}
