{% extends "MyShopBundle::layout.html.twig" %}
{#Ctrl + Space#}
{% block categoryMenu %}
    {% for cat in categoryList %}
        <li><a href="products.html">{{ cat.category }}</a>
            <ul>
                {% for subcat in cat.getChildrenCategories() %}
                    <li><a href="preview-2.html">{{ subcat.category }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block productList %}
    {% set iterator = 0 %}
    {% for product in productList %}
        {% if iterator == 0 %}
            <div class="section group">
        {% endif %}
        {% set iterator = iterator + 1 %}

        <div class="grid_1_of_4 images_1_of_4">
            <img src="/photos/{{ product.mainphoto }}" alt=""/>
            <h2>{{ product.productname }}</h2>
            <p>{{ product.description }}</p>
            <p><span class="strike">${{ product.price }}</span><span class="price">$415.54</span></p>
            <div class="button"><span><a href="#" class="details">Add to Cart</a></span></div>
            <div class="button"><span><a href="#" class="details">Details</a></span></div>
        </div>

        {% if iterator == 4 %}
            </div>
            {% set iterator = 0 %}
        {% endif %}
    {% endfor %}
    {% if iterator < 4 %}
        </div>
    {% endif %}
{% endblock %}
