{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <a href="{{ path("admin.category.add") }}">Добавить категорию</a>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr><td>#</td><td>Название</td><td></td></tr>
        {% for category in categoryList %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.category }}</td>
                <td>
                    <a href="{{ path("admin.category.edit", {category_id: category.id}) }}">Редактировать</a>
                    <a href="{{ path("admin.category.delete", {category_id: category.id}) }}">Удалить</a>

                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
