<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table border="1" style="width: 100%">
    <tr>
        <td valign="top" style="width: 400px">
            <ul>
                <li><a href="{{ path("admin_homepage") }}">Главная</a></li>
                <li><a href="{{ path("admin.product.list") }}">Все товары</a></li>
                <li><a href="{{ path("admin.product.categorylist") }}">Товары по категориям</a></li>
            </ul>

            <ul>
                <li><a href="{{ path("admin.product.add") }}">Добавить товар</a></li>
                <li><a href="{{ path("admin.category.list") }}">Категории</a></li>
            </ul>
        </td>
        <td valign="top">
            {% block body %}
            {% endblock %}
        </td>
    </tr>
</table>
</body>
</html>