{% extends "AdminBundle::layout.html.twig" %}
{% block body %}
    {% if category.category is defined %}
        <h2>{{ category.category }}</h2>
    {% else %}
        <h2>{{ category }}</h2>
    {% endif %}


    <a href="{{ path("admin.product.categorylist") }}">Выбор категории</a>
    <a href="{{ path("admin.product.add") }}">Добавить товар</a>

    {% if productList | length != 0 %}
        <table class="table table-striped table-bordered">
            <tr>
                <td></td>
                <td>Модель</td>
                <td>Категория</td>
                <td>Цена</td>
                <td>Статус</td>
                <td></td>
            </tr>
            {% for product in productList %}
                <tr>
                    <td>
                        {% if product.mainPhoto is not null and product.mainPhoto %}
                            <img src="/photos/{{ product.mainPhoto }}">
                        {% else %}
                            <img src="{{ asset('photos/no photo/nofoto.png') }}">
                        {% endif %}
                    </td>
                    <td><a href="{{ path("admin.product.info", {id: product.id}) }}">{{ product.productName() }}</a><br>
                    </td>
                    <td>{{ product.getCategory().getCategory() }}</td>
                    <td>{{ product.getPrice() }}</td>
                    <td class="td-status">
                        <a class="no-class" href="{{ path("admin.product_status", {id: product.Id}) }}">
                            {% if product.status == 1 %}
                                <div class="label label-success label-sm">Активен</div>
                            {% else %}
                                <div class="label label-danger label-sm">Не активен</div>
                            {% endif %}
                        </a>
                    </td>
                    <td>

                        <a href="{{ path("admin.product_photo_list", {idProduct: product.id}) }}">Фотографии</a><br>
                        <a href="{{ path("admin.product.edit", {id: product.id}) }}">Редактировать</a><br>

                        {% if product.status == 0 %}
                            <a href="{{ path("admin.product_delete", {id: product.id}) }}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>Нет товаров в этой категории</h4>
    {% endif %}


{% endblock %}