{% extends "AdminBundle::layout.html.twig" %}
{% block body %}
<a href="{{ path("admin.product.list") }}">Выбор категории</a>
<a href="{{ path("admin.product.add") }}">Добавить товар</a>

<table border="1">
    <tr>
        <td>Модель</td>
        <td>Категория</td>
        <td>Цена</td>
    </tr>
    {{ dump(productList ) }}
{% for product in productList %}
    <tr>
        <td>{{ product.productname() }}</td>
        <td>{{ product.getCategory().getCategory() }}</td>
        <td>{{ product.getPrice() }}</td>
        {#<td>
          <a href="{{ path("my_shop.admin.product_delete", {id:product.id}) }}">Удалить</a><br/>
           <a href="{{ path("my_shop_admin.product_edit", {id:product.id}) }}">Редактирование</a>
        </td>#}
    </tr>
{% endfor %}
</table>

{% endblock %}