{% extends "AdminBundle::layout.html.twig" %}
{% block body %}
    <a href="{{ path("admin.product.categorylist") }}">Выбор категории</a>
    <a href="{{ path("admin.product.add") }}">Добавить товар</a>

    <table border="1">
        <tr>
            <th>Модель</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Статус</th>
            <th></th>
        </tr>
        {% for product in productList %}
            <tr>
                <td>{{ product.productname() }}</td>
                <td>{{ product.getCategory().getCategory() }}</td>
                <td>{{ product.getPrice() }}</td>
                <td class="td-status">
                    <a class="no-class" href="{{ path("admin.product_status", {id: product.Id}) }}">
                        {% if product.status == 1 %}
                            <span class="status_active">Активен</span>
                        {% else %}
                            <span class="status_inactive">Не активен</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ path("admin.product_photo_list", {idProduct: product.id}) }}">Фотографии</a><br>
                    <a href="{{ path("admin.product.edit", {id: product.id}) }}">Редактировать</a><br>
                    {% if product.status == 0 %}
                        <a href="{{ path("admin.product_delete", {id: product.id}) }}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}