{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <h3>Фотографии товара {{ product.productname }}</h3>

    <a href="{{ path("admin.product_photo_add", {idProduct:product.id}) }}">Добавить фото</a>
    <a href="{{ path("admin.product.listbycategory", {id_category:product.category.id}) }}">Перейти в группу товара</a>


    <table>
        <tr>
    {% if product.getMainPhoto() %}
        <td>Главное фото</td>
        <td><img src="/photos/{{ product.getMainPhoto() }}"></td>
    {% else %}
        <td>Нет главного фото</td>
        <td></td>
    {% endif %}
        </tr>
    {% for photo in product.getPhotos() %}
        <tr>
            <td>{{ photo.getTitle() }}</td>
            <td>
                <img src="/photos/{{ photo.getFileName() }}" height="100"/>
            </td>
            <td>
                <a href="{{ path("admin.product_photo_set_main", {product_id: product.id, photo_id: photo.id}) }}">Сделать главным фото</a>
                <a href="{{ path("admin.product_photo_edit", {idPhoto: photo.id }) }}">Редактирование</a>
                <a href="{{ path("admin.product_photo_delete", {idPhoto: photo.id }) }}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}