<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel='stylesheet prefetch' href='{{ asset('bundles/myshop/login_css/bootstrap.min.css') }}'>
    <link rel="stylesheet" href="{{ asset('bundles/myshop/login_css/style.css') }}">
</head>
<body>
<div class="wrapper">
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="_username" placeholder="Login" required="" autofocus=""/>
        <input type="password" class="form-control" name="_password" placeholder="Password" required=""/>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
      <!--
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a href="{{ path('my_shop.index') }}" class="btn btn-sm btn-warning btn-block">Back</a>
    </form>
</div>


</body>
</html>
